<div class="row justify-content-center align-items-center mt-5 column-gap-5">
  <div class="col-md-4 p-4 d-flex align-items-center border rounded-4 mt-5">
    <form class="w-100">
      <h3>Add new Product</h3>
      <label class="form-label">Name</label>
      <input type="text" class="form-control" />
      <label class="form-label">Description</label>
      <input type="text" class="form-control" />
      <label class="form-label">Price</label>
      <input type="number" class="form-control" />
      <input
        class="btn btn-primary form-control mt-3"
        type="submit"
        value="Add"
      />
    </form>
  </div>
  <div class="col-md-7 px-3 py-4 align-items-center border mt-5">
    <h3>Product List</h3>
    <div class="row">
      <ag-grid-angular
        style="height: 350px"
        class="ag-theme-alpine"
        [rowData]="rowData | async"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [animateRows]="true"
        [pagination]="true"
        [paginationPageSize]="10"
        [suppressMovableColumns]="true"
      >
      </ag-grid-angular>
    </div>
  </div>
</div>
