<div class="row justify-content-between align-items-center mt-5">
  <div class="col-md-4 p-4 d-flex align-items-center mt-5">
    <form
      class="w-100"
      [formGroup]="addProductForm"
      (ngSubmit)="onAddProduct()"
    >
      <h3>Add new Product</h3>
      <label class="form-label">Name</label>
      <input type="text" class="form-control" formControlName="name" />
      <label class="form-label">Description</label>
      <input type="text" class="form-control" formControlName="description" />
      <label class="form-label">Price</label>
      <input type="number" class="form-control" formControlName="price" />
      <div class="form-check form-switch mt-2">
        <input
          class="form-check-input"
          type="checkbox"
          id="publish"
          formControlName="published"
          checked
        />
        <label class="form-check-label" for="publish">Publish</label>
      </div>
      <button class="btn btn-primary form-control mt-2">Add</button>
    </form>
  </div>
  <div class="col-md-8 px-3 py-4 align-items-center border mt-5">
    <div class="d-flex flex-row justify-content-between mb-2">
      <h3>Product List</h3>
      <input
        type="text"
        style="width: 300px"
        class="form-control"
        id="filter-text-box"
        placeholder="Search..."
        (input)="onFilterTextBoxChanged()"
      />
    </div>
    <div class="row">
      <ag-grid-angular
        style="height: 350px"
        class="ag-theme-alpine"
        [rowData]="rowData | async"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [animateRows]="true"
        [pagination]="true"
        [paginationPageSize]="10"
        [suppressMovableColumns]="true"
        (gridReady)="onGridReady($event)"
        (cellValueChanged)="onCellValueChanged($event)"
      >
      </ag-grid-angular>
    </div>
  </div>
</div>
